#container{
    width: 1050px;
    border: 1px solid grey;
    height: 100px;
    margin: 0 auto;


}
#header{
height: 100px;
padding: 10px 0;
}

#brand{
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861bbf;
    text-decoration: none;
}

#search{
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 10px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background:white url(images/search.png) right center no-repeat;


}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
}

ul{
    list-style: none;
}
#menu ul li:last-child{
    border-right: none;

}
#menu ul li{
    float: left;
    padding: 0 30px;
    height: 20px;
    border-right: 1px solid #5d21e7;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    transition: font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #b314db;


}