#container{
    width: 1050px;
    border: 1px solid grey;
    height: 100px;
    margin: 0 auto;


}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861bbf;
    text-decoration: none;
}